<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理登陆界面</title>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/bootstrap-3.4.1-dist/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/static/bootstrap-3.4.1-dist/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="page-header col-md-12">
            <h1>管理员登录</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-md-offset-2">
            <form th:action="@{/user}" method="get" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="username" name="username" required="required" onchange="validateUserName()" oninvalid="setCustomValidity('请输入用户名');" oninput="setCustomValidity('');">
                        <span class="help-block" id="nameInfo" style="color: red" th:text="${msg1}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" name="password" required="required" oninvalid="setCustomValidity('请输入密码');" oninput="setCustomValidity('');">
                        <span class="help-block" style="color: red" th:text="${msg2}"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-5">
                        <span>没有账号？请联系管理员申请账号 </span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> 登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
<script type="text/javascript">
    var xmlHttp;
    //创建Ajax对象
    function createXMLHttpRequest() {
        if (window.ActiveXObject) {
            //IE6
            xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
        }else {
            //W3C浏览器和IE7及其以上版本
            xmlHttp = new XMLHttpRequest();
        }
    }
    function validateUserName() {
        createXMLHttpRequest();
        var username = document.getElementById("username");
        var url = "/sxhm/ckUname?username=" + escape(username.value);
        xmlHttp.open("GET", url, true);
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                var color = "red";
                var message = xmlHttp.responseXML.getElementsByTagName("message")[0].firstChild.data;
                var passed = xmlHttp.responseXML.getElementsByTagName("passed")[0].firstChild.data;
                if (passed == "true") {
                    color = "green";
                }
                document.getElementById("nameInfo").innerHTML = "<span style = color:" + color + ">"+ message + "</span>"
            }
        };
        xmlHttp.send(null);
    }


</script>
</html>