<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>藏品列表</title>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/bootstrap-3.4.1-dist/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/static/bootstrap-3.4.1-dist/js/bootstrap.min.js}"></script>
    <style>
        img{
            display: block;
            height: auto;
            max-width: 100%;
        }
    </style>
</head>
<body>
<!-- 添加的模态框 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加藏品</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" th:action="@{/relic}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="relName" placeholder="请输入藏品名称">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片</label>
                        <div class="col-sm-10">
                            <input type="file" name="photo">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">时期</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="time">
                                <option>史前</option>
                                <option>周</option>
                                <option>秦</option>
                                <option>汉</option>
                                <option>南北朝</option>
                                <option>唐</option>
                                <option>五代十国</option>
                                <option>宋元</option>
                                <option>明清</option>
                                <option selected hidden>请选择时期</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">文物级别</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="level">
                                <option>一级文物</option>
                                <option>二级文物</option>
                                <option selected hidden>请选择文物级别</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">出土地点</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="location" placeholder="请输入出土地点">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">尺寸</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="size"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">材质</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="material">
                                <option>瓷器</option>
                                <option>金银器</option>
                                <option>陶器</option>
                                <option>壁画</option>
                                <option>玉石器</option>
                                <option>钱币</option>
                                <option>铜器</option>
                                <option>雕塑造像</option>
                                <option>书法绘画</option>
                                <option>铁器及其他金属器</option>
                                <option>石器、时刻、砖瓦</option>
                                <option>其他</option>
                                <option selected hidden>请选择材质</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">是否展览</label>
                        <div class="col-sm-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="status" value="1">是
                                </label>
                                <label>
                                    <input type="radio" name="status" value="0" checked>否
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--搭建显示页面-->
<div class="container">
<!--    标题-->
    <div class="row">
        <div class="col-md-12">
            <h1>藏品列表</h1>
        </div>
    </div>
<!--    按钮-->
    <div class="row">
        <div class="col-md-4 col-md-offset-10">
            <button class="btn btn-primary" id="add_modal_btn">
                <span class="glyphicon glyphicon-plus"></span>添加</button>
        </div>
    </div>
<!--    显示表格数据-->
    <div class="row" id="app">
        <div class="col-md-12">
                <table class="table table-hover">
                    <tr>
                        <th>序号</th>
                        <th>名称</th>
                        <th>图片</th>
                        <th>时期</th>
                        <th>文物级别</th>
                        <th>出土地点</th>
                        <th>尺寸</th>
                        <th>材质</th>
                        <th>是否展出</th>
                        <th>操作</th>
                    </tr>
                    <tr th:each="relic,status:${page.list}">
                        <td th:text="${status.count}"></td>
                        <td th:text="${relic.relName}"></td>
                        <td>
                            <form th:action="@{'/photo/'+${relic.id}}" method="post" enctype="multipart/form-data">
                                <img th:src="@{'/relics/'+${relic.photo}}" alt="">
                                <input type="file" name="photo">
                                <button type="submit">点击上传</button>
                            </form>
                        </td>
                        <td th:text="${relic.time}"></td>
                        <td th:text="${relic.level}"></td>
                        <td th:text="${relic.location}"></td>
                        <td th:text="${relic.size}"></td>
                        <td th:text="${relic.material}"></td>
                        <td th:text="${relic.status==0?'未展出':'已展出'}"></td>
                        <td>
                            <a class="btn btn-success" th:href="@{'/relic/'+${relic.id}}" role="button">
                                <span class="glyphicon glyphicon-pencil"></span>编辑</a>
                            <a class="btn btn-danger" th:href="@{'/relic/'+${relic.id}}" role="button" @click="deleteVisitor()">
                                <span class="glyphicon glyphicon-trash"></span>删除</a>
                        </td>
                    </tr>
                </table>
                <form method="post" id="deleteForm">
                    <input type="hidden" name="_method" value="delete">
                </form>
        </div>
    </div>
<!--    显示分页信息-->
    <div class="row">
<!--        分页文字信息-->
        <div class="col-md-6" th:text="'当前'+${page.pageNum}+'页，总'+${page.pages}+'页，总'+${page.total}+'条记录'"></div>
<!--        分页条信息-->
        <div class="col-md-6">
            <nav aria-label="Page navigation">
                <ul class="pagination" >
                    <li><a th:if="${page.hasPreviousPage}" th:href="@{/relic/page/1}">首页</a></li>
                    <li>
                        <a th:if="${page.hasPreviousPage}" th:href="@{'/relic/page/'+${page.prePage}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:each="num:${page.navigatepageNums}">
                        <a th:href="@{'/relic/page/'+${num}}" th:text="${num}">${num}</a>
                    </li>

                    <li>
                        <a th:if="${page.hasNextPage}" th:href="@{'/relic/page/'+${page.nextPage}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li><a th:if="${page.hasNextPage}" th:href="@{'/relic/page/'+${page.pages}}">末页</a></li>
                </ul>
            </nav>
        </div>

    </div>
</div>

</body>
<script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
<script type="text/javascript">

    var vue=new Vue({
        el:"#app",
        methods:{
            deleteVisitor(){
                //获取form表单
                var form=document.getElementById("deleteForm");
                //将超链接的href属性值赋值给form表单的action属性
                //event.target表示当前触发事件的标签
                form.action=event.target.href;
                //表单提交
                form.submit();
                //阻止超链接的默认行为
                event.preventDefault();

                alert("删除成功！")
            }
        }
    });

    //点击添加按钮弹出模态框
    $("#add_modal_btn").click(function (){
        $("#addModal").modal({
            backdrop:"static"
        })
    })

</script>
</html>