<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>游客列表</title>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/bootstrap-3.4.1-dist/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/static/bootstrap-3.4.1-dist/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- 添加的模态框 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加游客</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" th:action="@{/visitor}" method="post" onsubmit="return add_form()">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="visName" placeholder="请输入姓名">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">身份证号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="idCard" id="idCard_add_input" placeholder="请输入身份证">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="phone" id="phone_add_input" placeholder="请输入手机号">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">预约日期</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" name="date">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">预约场次</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="time">
                                <option>08:30-10:29</option>
                                <option>10:30-12:29</option>
                                <option>12:30-14:29</option>
                                <option>14:30-16:30</option>
                                <option selected hidden>请选择场次</option>
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--搭建显示页面-->
<div class="container">
<!--    标题-->
    <div class="row">
        <div class="col-md-12">
            <h1>游客列表</h1>
        </div>
    </div>
<!--    按钮-->
    <div class="row">
        <div class="col-md-4 col-md-offset-10">
            <button class="btn btn-primary" id="add_modal_btn">
                <span class="glyphicon glyphicon-plus"></span>添加</button>
        </div>
    </div>
<!--    显示表格数据-->
    <div class="row" id="app">
        <div class="col-md-12">
                <table class="table table-hover">
                    <tr>
                        <th>序号</th>
                        <th>游客姓名</th>
                        <th>身份证号</th>
                        <th>手机号</th>
                        <th>预约日期</th>
                        <th>预约场次</th>
                        <th>操作</th>
                    </tr>
                    <tr th:each="visitor,status:${page.list}">
                        <td th:text="${status.count}"></td>
                        <td th:text="${visitor.visName}"></td>
                        <td th:text="${visitor.idCard}"></td>
                        <td th:text="${visitor.phone}"></td>
                        <td th:text="${visitor.date}"></td>
                        <td th:text="${visitor.time}"></td>
                        <td>
                            <a class="btn btn-success" th:href="@{'/visitor/'+${visitor.id}}" role="button">
                                <span class="glyphicon glyphicon-pencil"></span>编辑</a>
                            <a class="btn btn-danger" th:href="@{'/visitor/'+${visitor.id}}" role="button" @click="deleteVisitor()">
                                <span class="glyphicon glyphicon-trash"></span>删除</a>
                        </td>
                    </tr>
                </table>
                <form method="post" id="deleteForm">
                    <input type="hidden" name="_method" value="delete">
                </form>
        </div>
    </div>
<!--    显示分页信息-->
    <div class="row">
<!--        分页文字信息-->
        <div class="col-md-6" th:text="'当前'+${page.pageNum}+'页，总'+${page.pages}+'页，总'+${page.total}+'条记录'"></div>
<!--        分页条信息-->
        <div class="col-md-6">
            <nav aria-label="Page navigation">
                <ul class="pagination" >
                    <li><a th:if="${page.hasPreviousPage}" th:href="@{/visitor/page/1}">首页</a></li>
                    <li>
                        <a th:if="${page.hasPreviousPage}" th:href="@{'/visitor/page/'+${page.prePage}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:each="num:${page.navigatepageNums}">
                        <a th:href="@{'/visitor/page/'+${num}}" th:text="${num}">${num}</a>
                    </li>

                    <li>
                        <a th:if="${page.hasNextPage}" th:href="@{'/visitor/page/'+${page.nextPage}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li><a th:if="${page.hasNextPage}" th:href="@{'/visitor/page/'+${page.pages}}">末页</a></li>
                </ul>
            </nav>
        </div>

    </div>
</div>

</body>
<script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
<script type="text/javascript">

    var vue=new Vue({
        el:"#app",
        methods:{
            deleteVisitor(){
                //获取form表单
                var form=document.getElementById("deleteForm");
                //将超链接的href属性值赋值给form表单的action属性
                //event.target表示当前触发事件的标签
                form.action=event.target.href;
                //表单提交
                form.submit();
                //阻止超链接的默认行为
                event.preventDefault();

                alert("删除成功！")
            }
        }
    });

    //点击添加按钮弹出模态框
    $("#add_modal_btn").click(function (){
        $("#addModal").modal({
            backdrop:"static"
        })
    })

    //校验表单数据
    function add_form(){
        //1.拿到要校验的数据，使用正则表达式
        var idCard=$("#idCard_add_input").val();
        var regId=/^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;
        if (!regId.test(idCard)){
            //alert("身份证号格式不正确");
            $("#idCard_add_input").parent().addClass("has-error");
            $("#idCard_add_input").next("span").text("身份证号格式不正确");
            return false;
        }else {
            $("#idCard_add_input").parent().removeClass("has-error");
            $("#idCard_add_input").parent().addClass("has-success");
            $("#idCard_add_input").next("span").text("");
        }
        //2.校验手机号
        var phone=$("#phone_add_input").val();
        var regPhone=/^1[3-9][0-9]{9}$/;
        if (!regPhone.test(phone)){
            //alert("手机号格式不正确");
            $("#phone_add_input").parent().addClass("has-error");
            $("#phone_add_input").next("span").text("手机号格式不正确");
            return false;
        }else {
            $("#phone_add_input").parent().removeClass("has-error");
            $("#phone_add_input").parent().addClass("has-success");
            $("#phone_add_input").next("span").text("");
        }
        alert("添加成功！");
        return true;

    }

</script>
</html>