<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.ssm.mapper.VisitorMapper">
<!--List<Visitor> getAllVisitor();-->
    <select id="getAllVisitor" resultType="Visitor">
        select * from t_vis
    </select>
<!--void addVisitor(Visitor visitor);-->
    <insert id="addVisitor">
        insert into t_vis values (null,#{visName},#{idCard},#{phone},#{date},#{time})
    </insert>
<!--    Visitor getVisitorById(Integer id);-->
    <select id="getVisitorById" resultType="Visitor">
        select * from t_vis where id=#{id}
    </select>
<!--    void updateVisitor(Visitor visitor);-->
    <update id="updateVisitor">
        update t_vis set vis_name=#{visName},id_card=#{idCard}, phone=#{phone},date=#{date},time=#{time} where id=#{id}
    </update>
<!--    void deleteVisitor(Integer id)-->
    <delete id="deleteVisitor">
        delete from t_vis where id=#{id}
    </delete>
</mapper>


